<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nuno.estg.smartcity">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <activity
            android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/registar"
            android:parentActivityName="nuno.estg.smartcity.LoginActivity">
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="nuno.estg.smartcity.LoginActivity"/>
        </activity>
        <activity
            android:name=".MainActivityNotes"
            android:label="@string/notas"
            android:parentActivityName="nuno.estg.smartcity.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nuno.estg.smartcity.LoginActivity"/>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:parentActivityName="nuno.estg.smartcity.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nuno.estg.smartcity.LoginActivity"/>
        </activity>

    </application>

</manifest>